{{ doctype() }}
<html lang="en">
<head>
    <meta charset="utf-8">
    {{ headTitle('See Click Predict Fix Visualizer').setSeparator(' - ').setAutoEscape(false)|raw }}
    {{ headMeta()
    .appendName('viewport', 'width=device-width, initial-scale=1.0')
    .appendHttpEquiv('X-UA-Compatible', 'IE=edge')|raw }}
    <!-- Styles -->
    {{ headLink()
    .prependStylesheet(basePath() ~ '/css/style.css')
    .prependStylesheet('//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css')|raw }}
    <!-- Scripts -->
    {{ headScript()
    .prependFile('//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js')
    .prependFile(basePath() ~ '/js/underscore-min.js')
    .prependFile(basePath() ~ '/js/jquery.min.js')
    .prependFile(basePath() ~ '/js/respond.min.js', 'text/javascript', { conditional: 'lt IE 9' })
    .prependFile(basePath() ~ '/js/html5shiv.js',   'text/javascript', { conditional: 'lt IE 9' })|raw }}
</head>
<body>
<div class="container">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url('home') }}">
                <img src="{{ basePath('img/logo.png') }}"
                     alt="See Click Predict Fix Visualizer"/>&nbsp;{{ translate('Visualizer') }}
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#home">{{ translate('Home') }}</a></li>
            </ul>
            <div id="info">
                <span id="status" class="label label-danger"></span>
            </div>
        </div>
        <!--/.nav-collapse -->
    </nav>
</div>
{% block content %}{{ content|raw }}{% endblock %}
<div class="container authors">
    <div class="row">
        <footer class="col-sm-5 col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">Spatial Databases Project</h4>
                </div>
                <div class="panel-body">
                    Michał Świętochowski, Dariusz Dudziński
                    <i><br/>Warsaw University of Technology
                        <br/>The Faculty of Electronics and Information Technology</i>
                </div>
            </div>
        </footer>
    </div>
</div>
<!-- /container -->
{{ inlineScript() }}
</body>
</html>
